@font-face {
  font-family: din;
  src: url(./assets/D-DINCondensed-Bold.otf);
}

body {
    margin: 0;
    overflow: hidden;
    font-family: din;
    font-size: 18px;
}

#desktop {
    display:none;
    width:100vw;
    height:100vh;
    background:black;
    position: absolute;
    top:0;
    left:0;
    z-index:200;
    color:white;
    text-align: center;
    justify-content:center;
}

#mapControls{
    display: flex;
    position:absolute;
    top:20px;
    width:100%;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
  #desktop {
    display:flex;
  }
}

#desktop-content {
    margin-top:45vh;
}

#loading {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:black;
    position: absolute;
    top:0;
    left:0;
    z-index:10;
}

#loading img{
  width:93px;
  height:59px;
}

#loadingP {
    padding: 64px;
    color:white;
    text-align: center;
}

button {
    font-family: din;
    text-transform: uppercase;
    background:whitesmoke;
    border:none;
    padding:8px 16px;
    border-radius: 999px;
    color:black;
    font-size: 18px;
}

#enterButton{
    display:none;
}

#loaderContainer{
    display: grid;
    place-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #ff002f 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #ff002f 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}

#startScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    color: white;
    text-align:center;
    z-index:2;
}

#videoScreen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: red;
    color: white;
    text-align:center;
}

#soundon{
    color:white;
    position:absolute;
    bottom:60px;
    z-index: 20;
}

#videoDiv {
    z-index:2;
}

#videoSrc{
    position: absolute;
    top: 0;
    left: 0;
    height:100vh;
}

#videoOptions {
    position: absolute;
    top:20px;
    z-index:20;
}

.videoButton {
    margin-right:6px;
}

#cvScreen{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    width:100vw;
    height:100vh;  
    background-color: rgba(0,0,0,0.9);
    top:0;
    left:0;
    text-align:center;  
    z-index: 50;  
}

#cvScreen iframe{
    width:324px;
    height:670px;
    margin-bottom:24px;
}

#mapScreen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    color: white;
    text-align:center;
    z-index:2;    
}

#frame-top-left {
    width:30%;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

#frame-top-right {
    width:30%;
    position:absolute;
    top:0;
    right:0;
    z-index:10;
}

#frame-bottom-left {
    width:30%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:10;
}

#frame-bottom-right {
    width:30%;
    position:absolute;
    bottom:0;
    right:0;
    z-index:10;
}

#debugInfo {
    display:none;
    width:100%;
    bottom:32px;
    justify-content: center;
    align-items: center;
    align-content: center;
    position:absolute;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-size:14px;
    z-index: 20;
}

#debugContainer{
    width:70%;
    background:black; 
    padding:4px;
}

#gpsPosition {
}

#clickState {}

button {
    margin-bottom: 24px;
}