body {
    margin: 0;
    overflow: hidden;
}

#startScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    color: white;
    text-align:center;
    z-index:2;
}

#videoScreen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: red;
    color: white;
    text-align:center;
    z-index:2;    
}

#mapScreen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: blue;
    color: white;
    text-align:center;
    z-index:2;    
}

#frame-top-left {
    width:30%;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

#frame-top-right {
    width:30%;
    position:absolute;
    top:0;
    right:0;
    z-index:10;
}

#frame-bottom-left {
    width:30%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:10;
}

#frame-bottom-right {
    width:30%;
    position:absolute;
    bottom:0;
    right:0;
    z-index:10;
}

.debugInfo {
    position: absolute;
    text-align: center;
    width:100%;
    z-index: 2;
    top:20px;
    color:white;
}

#gpsPosition {

}

#clickState {
}

button {
    margin-bottom: 24px;
}