body {
    margin: 0;
    overflow: hidden;
}

#loading {
    width:100vw;
    height:100vh;
    background:black;
    position: absolute;
    top:0;
    left:0;
    z-index:100;
}

#loadingP {
    padding: 64px;
    color:white;
    text-align: center;
    font-size: 24px;
}

.loaderContainer{
    display: grid;
    place-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #ff002f 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #ff002f 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}

#startScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    color: white;
    text-align:center;
    z-index:2;
}

#videoScreen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: red;
    color: white;
    text-align:center;
    z-index:2;    
}

#mapScreen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: blue;
    color: white;
    text-align:center;
    z-index:2;    
}

#frame-top-left {
    width:30%;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

#frame-top-right {
    width:30%;
    position:absolute;
    top:0;
    right:0;
    z-index:10;
}

#frame-bottom-left {
    width:30%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:10;
}

#frame-bottom-right {
    width:30%;
    position:absolute;
    bottom:0;
    right:0;
    z-index:10;
}

.debugInfo {
    position: absolute;
    text-align: center;
    width:100%;
    z-index: 2;
    top:20px;
    color:white;
}

#gpsPosition {

}

#clickState {
}


button {
    margin-bottom: 24px;
}